<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="space, blog, 前端">
    <meta name="description" content="space博客">
    <meta name="author" content="yimin,2316114920@qq.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>space blog</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="pg-index">
<% include ./layout/header %>
<div id="content">
    <section class="post-list">
        <div>
            <% posts.forEach(function (post) { %>
            <article class="post post-width-tags">
                <header class="post-title">
                    <a href="<%= '/post/' + post.url %>"><%= post.title %></a>
                </header>
                <div class="post-meta">
                    <span><%= post.createdAt %></span>
                </div>
                <p class="post-abstract">
                    <%= post.abstract %>
                </p>
                <footer class="post-tags">
                    <% post.tags.forEach(function (tag) { %>
                    <a href="/tags/<%= tag %>" class="tag"><%= tag %></a>
                    <% }) %>
                </footer>
            </article>
            <% }); %>
        </div>
    </section>
</div>
<% include ./layout/footer %>
<% include ./layout/ga %>
<!--<script type="text/javascript" src="/js/lib/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>-->
</body>
</html>