<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="webfem,webfem.com,前端,Express">
    <meta name="description" content="webfem 做有价值的博客">
    <meta name="author" content="yimin,2316114920@qq.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title><%= title %>-webfem</title>
    <link rel="dns-prefetch" href="//static-cdn.ticwear.com">
    <link rel="stylesheet" href="https://cdn.webfem.com/webfem/10c0a9b0-9a4a-11e9-bff5-294dd2f53c32">
    <script>
        var tag = '<%= page %>';
    </script>
</head>
<body class="pg-index">
<div id="app">
    <div class="space-index-layout">
        <% include ./layout/header %>
        <div class="space-container">
            <div class="space-main">
                <div class="main-content">
                    <div class="main-content-left">
                        <ul class="article-list" id="postMain">
                            <% posts.forEach(function (post) { %>
                                <li class="article-item">
                                    <a class="space-article-item" href="<%= '/post/' + post.url %>">
                                        <div class="space-article-content">
                                            <div class="middle"><p class="middle-title"><%= post.title %></p> <!---->
                                            </div>
                                            <div class="article-excerpt">
                                                <%= post.abstract %>
                                            </div>
                                            <div class="bottom">
                                                <img src="//static-cdn.ticwear.com/barley/cdc29ae0-f528-11e8-b296-09995b3ba834" alt=""
                                                     class="handle-icon">
                                                <span class="value"><%= post.createdAt %></span>
                                                <div class="line ivu-divider ivu-divider-vertical"><!----></div>
                                                <img src="//static-cdn.ticwear.com/barley/f7d3f400-f528-11e8-a602-69b71e51fd58"
                                                     class="handle-icon"> <span class="value">
                                                    <% post.tags.forEach(function (tag) { %>
                                                        <%= tag %>
                                                    <% }) %>
                                                </span>
                                                <div class="line ivu-divider ivu-divider-vertical"><!----></div>
                                                <img src="//static-cdn.ticwear.com/barley/0953a0e0-f529-11e8-b296-09995b3ba834"
                                                     alt="" class="handle-icon"> <span class="value"><%= post.visited %></span></div>
                                            <div><!----> <!----></div>
                                        </div> <!----></a>
                                </li>
                            <% }); %>
                        </ul>
                        <div class="show-loading" id="loading" style="display: none">
                            <span class="text">加载中...</span>
                        </div>
                    </div>
                    <div class="main-content-right">
                        <% include ./layout/hot %>
                    </div>
                </div>
            </div>
        </div>
        <% include ./layout/footer.ejs %>
    </div>
</div>
<% include ./layout/ga.ejs %>
<script type="text/javascript" src="//static-cdn.ticwear.com/barley/cf0acf10-10c3-11e9-884f-d77d8ed3cd57"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
