<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Express,<%= blog.title %>">
    <meta name="description" content="<%= blog.abstract %>">
    <meta name="author" content="yimin,2316114920@qq.com">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title><%= blog.title %>-webfem</title>
    <link rel="dns-prefetch" href="//static-cdn.ticwear.com">
    <link rel="stylesheet" href="https://static-cdn.ticwear.com/barley/d9abe6f0-1bab-11e9-884f-d77d8ed3cd57">
</head>
<body class="pg-index">
<div id="app">
    <div class="space-index-layout">
        <% include ./layout/header %>
        <div class="space-container">
            <div class="space-main">
                <div class="main-content">
                    <div class="main-content-left">
                        <div class="article-detail">
                            <div class="article-header">
                                <h1 class="article-title"><%= blog.title %></h1>
                                <div class="bottom">
                                    <img src="//static-cdn.ticwear.com/barley/cdc29ae0-f528-11e8-b296-09995b3ba834"
                                         alt=""
                                         class="handle-icon"> <span class="value"><%= blog.createdAt %></span>
                                    <div class="line ivu-divider ivu-divider-vertical"><!----></div>
                                    <img src="//static-cdn.ticwear.com/barley/f7d3f400-f528-11e8-a602-69b71e51fd58"
                                         class="handle-icon"> <span class="value">
                                        <% blog.tags.forEach(function (tag) { %>
                                            <%= tag %>
                                        <% }) %>
                                    </span>
                                    <div class="line ivu-divider ivu-divider-vertical"><!----></div>
                                    <img src="//static-cdn.ticwear.com/barley/0953a0e0-f529-11e8-b296-09995b3ba834"
                                         alt=""
                                         class="handle-icon"> <span class="value">
                                        <%= blog.visited %>
                                    </span></div>
                            </div>
                            <div class="article-content">
                                <%- blog.markdown %>
                            </div>
                        </div>
                    </div>
                    <div class="main-content-right">
                        <% include ./layout/hot %>
                    </div>
                </div>
            </div>
        </div>
        <% include ./layout/footer.ejs %>
    </div>
</div>
<% include ./layout/ga %>
<script type="text/javascript" src="//static-cdn.ticwear.com/barley/cf0acf10-10c3-11e9-884f-d77d8ed3cd57"></script>
<script type="text/javascript" src="/js/search.js"></script>
</body>
</html>
